.card {
    background: #fff;
    padding: 20px;
    border-radius: 0px 15px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
}

.dark {
    background-color: var(--color-primary);
    color: #fff;
}